body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #00adb5;
    text-transform: uppercase;
}

.warnanavbar {
    background-color: rgb(10, 9, 9);
}

.navbar-brand {
    font-family: 'Righteous', cursive;
}

.login {
    border: 0;
    height: 500px;
    margin: auto;
}

.login h4 {
    margin-top: 100px;
}

form .form-group input {
    margin: auto;
}

form .user input {
    margin: auto;
    margin-top: 70px;
}

.navbar-ungu {
    background-color: #6f42c1 !important; /* ungu bootstrap */
}
.navbar-ungu .nav-link,
.navbar-ungu .navbar-brand,
.navbar-ungu .text-light {
    color: rgb(15, 14, 14) !important;
}
