body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-brand{
    font-family: 'Righteous', cursive;
}

.link a{
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
    color: #090808;
}

.link a:hover .bi-facebook{
    color: #0e0e10;
}

.link a:hover .bi-github{
    color: #0d0d0d;
}

.link a:hover .bi-instagram{
    color: #090809;
}

.link a:hover .bi-twitter{
    color: #070707;
}

/* Menargetkan semua label pada formulir */
label {
    color: #000000; /* Kode hex untuk warna hitam */
}
.form-group label {
    color: black;
}
/* Menargetkan semua input teks, email, dll. */
input[type="text"],
input[type="email"],

textarea {
    color: #000000; /* Kode hex untuk warna hitam */
}